<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Agency UI</title>

    <link rel="stylesheet" href="{{url_for('static',filename='style.css') }}">
</head>

<body>

    <!-- background glow -->
    <div class="glow"></div>

    <!-- vertical lines -->
    <div class="line line1"></div>
    <div class="line line2"></div>
    <div class="line line3"></div>

    <!-- navbar -->
    <header>

        <div class="logo">
            Jeeban
        </div>

        <nav>
            <a href="#">WEB DESIGN</a>
            <a href="#">BRANDING</a>
            <a href="#">DIGITAL MARKETING</a>
        </nav>

        <div class="menu-area">

            <span>WORK WITH US</span>

            <div class="menu-icon">
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>

    </header>

    <!-- hero section -->
    <section class="hero">

        <div class="left-bar"></div>

        <div class="hero-content">

            <h5>AWARD WINNING COMPANY</h5>

            <h1>
                AN <span>AWARD WINNING</span><br>
                WEB DESIGN AGENCY<br>
                IN MALAYSIA
            </h1>

            <p>
                Passion of building epic web experiences
                to blow people's minds.
            </p>

        </div>

    </section>

</body>

</html>